<div class="row">
  <div class="col-xl-2">
    <app-module-button
      [moduleName]="'Empleados'"
      [moduleIcon]="'employees.png'"
      [moduleUrl]="'/employees'"
    ></app-module-button>
  </div>

  <div class="col-xl-2">
    <app-module-button
      [moduleName]="'Productos'"
      [moduleIcon]="'products.png'"
      [moduleUrl]="'/products'"
    ></app-module-button>
  </div>

  <div class="col-xl-2">
    <app-module-button
      [moduleName]="'Inventarios'"
      [moduleIcon]="'inventories.png'"
      [moduleUrl]="'/inventories'"
    ></app-module-button>
  </div>

  <div class="col-xl-2">
    <app-module-button
      [moduleName]="'Tiendas'"
      [moduleIcon]="'stores.png'"
      [moduleUrl]="'/stores'"
    ></app-module-button>
  </div>

  <div class="col-xl-2"></div>
  <div class="col-xl-2"></div>
</div>
